<mat-toolbar color="primary">

  <div id="navbar_left">
    <div id="navbar_championships">
      <button mat-button class="champ_button" *ngFor="let champ of actualChampionships">{{ champ }}</button>
    </div>
    <button mat-button id="new_champ_button" (click)="open(new_champ_modal)">+</button>
  </div>

  <div id="navbar_right">
    <button mat-button>Archive</button>
  </div>

</mat-toolbar>

<ng-template #new_champ_modal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Create new championsip</h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-form-field>
      <input #name type="text" matInput placeholder="Name" [(ngModel)]="newChampName" (keydown.enter)="modal.dismiss('Cross click');createChampionship()">
    </mat-form-field>
  </div>
</ng-template>



<a routerLink="/championship/1">bajnokság 1</a>
<a routerLink="/championship/2">bajnokság 2</a>
<a routerLink="/championship/3">bajnokság 3</a>
<a routerLink="/profile/1">profil 1</a>
<a routerLink="/profile/2">profil 2</a>
<a routerLink="/profile/3">profil 3</a>


<router-outlet></router-outlet>

